{% extends "tienda/base.html" %}
{% block title %} Nuevo Pedido {% endblock %}
{% block content %}
<h1>Nuevo Pedido</h1>
<form method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Datos del Pedido</legend>
        {{ pedido_form.as_p }}
    </fieldset>

    <fieldset>
        <legend>Items</legend>
        {{ formset.management_form }}
        {{ formset.non_form_errors }}
        {% for form in formset %}
            <div class="pedido-item-form">
                {{ form.as_p }}
                {% if form.instance.pk %}
                    <label> {{ form.DELETE }}</label>
                {% endif %}
            </div>
        {% endfor %}
    </fieldset>

    <button class="btn" type="submit">Guaardar</button>
    <a href="{% url 'tienda:lista_pedidos' %}">Cancelar</a>

</form>
{% endblock %}