{% extends 'tienda/base.html' %}
{% block title %}Editar Pedido # {{ pedido.id }}{% endblock %}

{% block content %}
    <h1>Editar Pedido # {{ pedido.id }}</h1>
    <form method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Datos del Pedido</legend>
            {{ pedido_form.as_p }}
        </fieldset>

        <button class="btn primary">Actualizar</button>
        <a class="btn primary" href="{% url 'tienda:detalle_pedido' pedido.pk %}">Volver</a>

        {% if opciones.origenes %}
            <datalist id="origenes_list">
                {% for item in opciones.origenes %}
                    <option value="{{ item }}"></option>
                {% endfor %}
            </datalist>
        {% endif %}

        {% if opciones.destinos %}
            <datalist id="destinos_list">
                {% for item in opciones.destinos %}
                    <option value="{{ item }}"></option>
                {% endfor %}
            </datalist>
        {% endif %}
    </form>
{% endblock %}