core/ia/tiempo_viaje/datasetCarga.csv filter=lfs diff=lfs merge=lfs -text
core/ia/tiempo_viaje/dataset_limpio.csv filter=lfs diff=lfs merge=lfs -text
core/ia/tiempo_viaje/modelo_tiempo_100arboles.pkl filter=lfs diff=lfs merge=lfs -text
